# Credenciais BD Legado
DB_ORIGEM_USER=DB_ORIGEM_USER
DB_ORIGEM_PASS=DB_ORIGEM_PASS
DB_ORIGEM_HOST=DB_ORIGEM_HOST
DB_ORIGEM_PORT=DB_ORIGEM_PORT
DB_ORIGEM_DRIVER=DB_ORIGEM_DRIVER

# Credenciais BD Novo
DB_DESTINO_USER=DB_DESTINO_USER
DB_DESTINO_PASS=DB_DESTINO_PASS
DB_DESTINO_HOST=DB_DESTINO_HOST
DB_DESTINO_PORT=DB_DESTINO_PORT
DB_DESTINO_DRIVER=DB_DESTINO_DRIVER
